 
<%= link_to 'Back', root_path %>

<style>
</style>

<div id="search">
	<input id="query" placeholder="search" value="" />
	<div id="results"> </div>
</div>

<dl>  
  <dt> Name: </dt>       
  <dd> <h1><%= @member.name %> </h1></dd>
  <dt> ShortUrl: </dt>
  <dd>
    <%= link_to @member.short_url,  @member.short_url %>
  </dd>
  <dt>
     Website:    
  </dt>
  <dd>
    <%= link_to @member.original_url, @member.original_url %>
  </dd>
  <dt>
    Friends:    
  </dt>
  <dd>
    <%= @member.friends.count %>
  </dt>
  <dt>
 Headings:
  </dt>
  <dd>
    <ul class="tags">
      <% @member.tags.each do |tag| %>
        <li> <%= tag.text %> </li>
      <% end %>
    </ul>
  </dd>
  <dt>
 Friend's:
  </dt>
  <dd>
    <ul class="friend_links">
      <% @member.friends.each do |friend| %>
        <li> <%= link_to friend.name, member_path(friend)%> 
        </li>
      <% end %>
    </ul>
  </dd>
</dl>


<script>

	var XHR = {};
	XHR.base = function(callback) {
		var request = new XMLHttpRequest(), callback = callback || function () {};
		request.onreadystatechange = function() {
			if (this.readyState == 4 ) {
				callback(request.response);
			}
		};
		return request;
	}
	XHR.get = function (url, params, callback) { 
		var request = XHR.base(callback);
		request.open("GET",[url, '?', params].join(''), /*async flag -> */ true); 
		request.send();
	}

	function get_page_id() {
		let tokens = location.pathname.split(/\//) 
		return tokens[tokens.length - 1]
	}

	function link(member) {
	   return `<a href="/members/${member.id}">${member.name}</a>`;	
  }

  document.getElementById('query').addEventListener('change', function() {
    XHR.get(`/members/${ get_page_id() }/search/${this.value}`, '', (raw_json) => {
      markup = JSON.parse(raw_json).map((result) => {
        breadcrumb =  result.liason_chain.map((member) => {
          return link(member);
        }).join(' -> ')
        matching_tags_found = result.heading_matches.join('</li><li>')
        ul = `<ul>${ '<li>' + matching_tags_found + '</li>'}</ul>`;
        return breadcrumb + ul
      }).join('<br />');
      document.getElementById('results').innerHTML = markup;
    })
  });

</script>

